html, body {
    margin: 3px;
    padding: 0px 30px;
    background-color: beige;
}

/* Base (desktop first) */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "left-content main-content right-content"
        "footer footer footer";
    gap: 20px 25px;
    background-color: azure;
}

.grid-container div {
    background-color: aqua;
}

/* Grid areas */
.grid-item1 {
    grid-area: header;
    text-align: center;
}

.grid-item2 {
    grid-area: nav;
    text-align: center;
}

.grid-item3 {
    grid-area: left-content;
    text-align: center;
}

.grid-item4 {
    grid-area: main-content;
    text-align: center;
}

.grid-item5 {
    grid-area: right-content;
    text-align: center;
}

.grid-item6 {
    grid-area: footer;
    text-align: center;
}

/* Tablet & Mobile */
@media all and (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "nav"
            "left-content"
            "main-content"
            "right-content"
            "footer";
    }
}